body {
    background-image: url('../img/background.jpg');
    background-color: #DDD;
}
h1 {
    margin: 0 5px;
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
}
#container {
    background-color: #DDD;
    width: 33vw;
    height: 66vh;
    margin: 10vh auto;
    padding: 20px;
    box-shadow: 3px 0px 20px #888888, -3px 0px 20px #888888;
}
@media only screen and (max-width: 480px) {
    #container {
        width: 100vw;
        height: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    #container {
        width: 70vw;
        height: 100%;
    }
}
h1 {
    font-family: 'Lobster', cursive;
}
.btn {
    border-radius: 0px;
}
.form-control {
    border-radius: 0px;
}
.hidden-start {
    display: none;
}
.alert {
    border-radius: 0px;
}
.forms {
    text-align: center;
    width: 66%;
    margin: 10px auto;
}
